@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: full;
    min-height: 250px;
    height: full;

    .swiper-button-next, .swiper-button-prev {
        color: white;
        transform: scale(1);
    }
    
    @media (max-width: 640px) {
        .swiper-button-next, .swiper-button-prev {
            transform: scale(0.5);
            top: 60%;
        }
    }
}

.episode-swiper {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        z-index: 10;
        color: white;
        margin-left: 10px;
        margin-right: 10px;

        &.swiper-button-prev {
            left: 0;
        }

        &.swiper-button-next {
            transform: scale(0.5);
            top: 25%;
            right: 0;
        }

        &.swiper-button-prev {
            transform: scale(0.5);
            top: 25%;
        }

        &.swiper-button-disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }
}